*.sqlite
*.sqlite-journal
*.vsidx
*.json
*.v2
*.manifest
*.bin
*.cache
*.testlog
C\# Assignments/Assignment 4/.vs/Assignment4TestSuitePartI/v17/.suo
*.exe
*.editorconfig
*.csproj
*.json
*.dll
*.dll
*.pdb
*.props
*.cs
*.cache
*.txt
*.targets
*.pdb
*.txt
